@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background-color: #121212;
	color: #fff;
	font-family: 'Noto Sans KR';
	font-size: 14px;
}

a,
button {
	cursor: pointer;
	text-decoration: none;
	border: none;
	outline: none;
	color: #fff;
}

input {
	background: transparent;
	outline: none;
	border: none;
}

ul li,
ol li {
	list-style-type: none;
}
